body {
    background-color: blue;
}
.container {
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
}
button {
    text-align: center;
    font-size: 300%;
}
button:hover {
    opacity: 0.8;
}